.button {
    border: none;
    background: none;
    cursor: pointer;
    padding: .5rem 2rem;
    position: relative;
    z-index: 1;
}

.button:focus {
    outline: none;
}

// Based on https://github.com/codrops/ButtonStylesInspiration/blob/master/css/buttons.css button--antiman
.button-primary {
    color: $colorPrimary;
    font-size: 1.5rem;
    border-radius: 40px;
}

.button-primary:hover {
    color: $colorWhite;
}

.button-primary::before,
.button-primary::after {
    content: ' ';
    z-index: -1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s, opacity 0.3s, color 0.4s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    border-radius: inherit;
}

.button-primary::before {
    border: .2rem solid $colorWhite;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
    opacity: 0;
}

.button-primary::after {
    background: $colorWhite;
}

.button-primary:hover::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.button-primary:hover::after {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}