.experience-content {
    position: relative;
}

.experience-item {
    display: flex;
    min-height: 15rem;
}

.experience-item__company {
    flex-grow: 1;
    max-width: 10rem;
}

.experience-item__details {
    flex-grow: 5;
    position: relative;
    padding-left: 2rem;
    padding-bottom: 3rem;
}

.image-company {
    width: 10rem;
}

.experience-item__company__name {
    text-align: center;
    color: $colorPrimary;
    font-weight: bold;
    margin-bottom: .5rem;
}

.experience-timeline {
    position: absolute;
    height: 100%;
    width: .4rem;
    background-color: $colorPrimary;
    top: 0;
    left: -1rem;
    transform: scaleY(0);
    transition: transform 5s;
    transform-origin: top;
    transform: scaleY(1);
    display: none;
}

.experience-item__details__duration {
    position: absolute;
    top: 2.5rem;
    left: -3.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $colorPrimary;
    color: $colorWhite;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.7rem;
}

.experience-item__details__dates {
    color: #312b2b;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: .5rem;
    padding-top: .2rem;
}

.experience-item__company__seconds {
    margin-top: .5rem;
}

.experience-item__company__seconds,
.experience-item__company__seconds-text {
    text-align: center;
    color: #909090;
}

.experience-item__company__seconds-text {
    font-size: 1.3rem;
}

.experience-item__details__title, .experience-item__details__dates, .experience-item__details__description {
    margin: 0;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .experience-timeline {
        display: block;
    }
    .experience-item__details {
        margin-left: 6rem;
        padding-left: 5rem;
    }
}

.award {
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: .4rem;
    border: .1rem solid rgba(0,0,0,.85);
    padding: 1.6rem;
}

.award__entity {
    width: 5rem;
    height: 5rem;
    margin-right: .8rem;
}

.award__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.award__content-title {
    margin: 0;
}

.award__content-svg {
    width: 3rem;
    height: 3rem;
}

.experience-item__details__location {
    margin: .5rem 0;
}

.experience-item__details__location__open {
    color: inherit;
    margin-left: .5rem;
}