.header {
    position: relative;
    background-color: $colorPrimary;
    height: $heightMobileHeader;
    display: flex;
    align-items: center;
    padding-left: .8rem;
    padding-right: .8rem;
    color: $colorWhite;
    font-weight: bold;
}

.brand-desktop {
    display: none;
}

.menu {
    position: absolute;
    right: .8rem;
    top: 25%;
    font-size: 2rem;
}

.menu__underlay {
    background: rgb(51, 51, 51);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1);
    will-change: opacity;
    z-index: 4;
}

.menu-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    background-color: $colorWhite;
    transform: translateX(105%);
    z-index: 5;
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
    will-change: transform;
}

.menu-nav a {
    color: inherit;
}

.menu__togle {
    opacity: 0;
}

.menu__togle-label {
    cursor: pointer;
}

.menu__togle:checked+.menu__togle-label {
    color: $menuHamburgerActive;
    position: relative;
    z-index: 6;
}

.menu__togle:checked~.menu-nav {
    transform: translateX(0%);
}

.menu__togle:checked~.menu__underlay {
    opacity: .7;
}

.menu-nav__container {
    padding-top: 5rem;
    color: $colorMobileList;
}

.menu-nav__item {
    display: list-item;
    width: 100%;
    padding-bottom: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .header {
        background: none;
    }
    .brand-desktop {
        display: block;
    }
    .menu {
        top: 35%;
    }
    .menu__togle,
    .menu__togle-label,
    .brand-mobile,
    .menu__underlay {
        display: none;
    }
    .menu-nav {
        transform: translateX(0%);
        background: none;
        width: auto;
        height: auto;
        position: relative;
        font-weight: lighter;
    }
    .menu-nav,
    .brand-desktop {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
    }
    .menu-nav__container {
        padding: 0;
    }
    .menu-nav__item {
        display: inline;
        color: $colorWhite;
    }
}