.home-cover {
  background-image: url('http://www.jdcdesignstudio.com/img/slide1.jpg');
  background-size: cover;
  min-height: 50rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -5rem;
}

.home-cover__content {
  color: $colorWhite;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
  padding-left: .8rem;
  padding-right: .8rem;
}

.home-cover__content__header__content {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: lighter;
  line-height: 3.0rem;
}

.home-cover__content__header {
  margin-top: 0;
  font-size: 6.8rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-cover {
    height: 45rem;
    background-position-y: -3rem;
    padding: 1.5rem;
  }

  .home-cover__content {
    max-width: 160rem;
  }

  .home-cover__content__header__content {
    font-size: 3.8rem;
    margin: .5rem 0 2rem;
    line-height: normal;
  }
  .button-contact {
    padding: 0.8rem 3rem;
  }
}

@media (min-width: 920px) {
  .home-cover__content {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .home-cover__content {
    width: 60%;
  }
}