.more-info__content {
  overflow: hidden;
}

.more-info p:first-child {
  margin-top: 0;
}

.more-info__content {
  opacity: 0;
  height: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  -webkit-transition: all .2s 1s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.more-info__content.more-info-open {
  opacity: 1;
  height: auto;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

