.section-title {
    font-weight: bold;
    color: $colorPrimary;
    padding-bottom: 1.5rem;
    position: relative;
    z-index: 1;
}

.section-padding {
    padding-right: .8rem;
    padding-left: .8rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.section-angled {
    background-color: $colorWhoAmIBackground;
}

.section-angled,
.section-angled-content {
    position: relative;
}

.section-angled-content {
    z-index: 1;
}

.section-angled::before,
.section-angled::after {
    content: ' ';
    height: 70%;
    background-color: #F9F9F9;
    left: 0;
    display: block;
    width: 100%;
    position: absolute;
}

.section-angled::before {
    top: -1rem;
    transform: skewY(-3deg);
}

.section-angled::after {
    bottom: -1rem;
    transform: skewY(3deg);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .section-title {
        text-align: center;
        padding-bottom: 2rem;
    }
    .section-padding .section-content {
        width: 70%;
        margin: 0 auto;
    }
    .section-edges .section-title {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
}