// Colors
$colorPrimary: #1C3A5D;
$colorWhite: #FFFFFF;


// Header colors
$menuHamburgerActive: #000;
$colorMobileList: #000;


// Section colors
$colorWhoAmIBackground: #F9F9F9;

// Properties
$heightMobileHeader: 5rem;