.image-me {
    width: 10rem;
    float: left;
    margin-right: 1.5rem;
}

.about-me {
    color: $colorPrimary;
    font-size: 1.6rem;
    line-height: 2rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .who-am-i::before {
        top: -3rem;
    }
    .who-am-i::after {
        bottom: -3rem;
    }
}