// Colors
$colorPrimary: #1c3a5d;
$colorWhite: #ffffff;
$colorAccent: #112338;

// Header colors
$menuHamburgerActive: #000;
$colorMobileList: #000;

// Section colors
$colorWhoAmIBackground: #f9f9f9;

// Properties
$heightMobileHeader: 5rem;
