@import './styles/reset';
@import './styles/variables';
@import './styles/extras';
@import './styles/buttons';
@import './components/modal/modal';
@import './styles/more-info';
@import './styles/skill-bar';

@import './styles/header';
@import './styles/section';
@import './styles/home-cover';
@import './styles/who-am-i';
@import './styles/experience';
@import './styles/projects';
@import './styles/about-page';
@import './styles/footer';
@import './styles/contact';

body {
  font-size: 1.4rem;
  font-family: sans-serif;
}

.wf-active body {
  font-family: 'Roboto', sans-serif;
}