@import './styles/reset';
@import './styles/variables';
@import './styles/extras';
@import './styles/buttons';
@import './styles/header';
@import './styles/section';
@import './styles/home-cover';
@import './styles/who-am-i';
@import './styles/experience';
@import './styles/projects';
@import './styles/footer';

body {
  font-size: 1.4rem;
  font-family: sans-serif;
}

.wf-active body {
  font-family: 'Roboto', sans-serif;
}